html,
body {
  background-color: rgb(16, 33, 42);
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(92, 203, 255);
}
code {
  font-family: monospace;
}
#root {
  height: 100%;
}
